.section{
    border-bottom: none;
}
.section:first-child{
    border-bottom: 2px rgba(128, 128, 128, 0.274) solid;
}
.icons{
    margin-top: 20px;
    margin-bottom: 5rem;
}
.icons h1{
    text-align: center;
    font-size: 5rem;
    color: #F25FF7;
    margin-bottom: 20px;
}

.icons div div{
    text-align: center;
}
.icons i{
    font-size: 4rem;
    color: #F25FF7;
    margin-bottom: 30px;
}
.icons h2{
    color: #F25FF7;
    font-size: 2.1rem;
}

ul{
    text-align: start;
}