.section {
    border-bottom: none;
}

.section:first-child {
    border-bottom: 2px rgba(128, 128, 128, 0.274) solid;
}

.gallery {
    padding: 10px;
    border-bottom: 2px rgba(128, 128, 128, 0.274) solid;
    border-top: 2px rgba(128, 128, 128, 0.274) solid;

}