<footer class="d-flex justify-content-around ">
    <div>
    <h1>KURUMSAL</h1>
        <ul>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/about-us.html"><h3> Hakkımızda</h3></a></li>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/coachs.html"><h3> Eğitmenlerimiz</h3></a></li>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/weekly-schedule.html"><h3> Haftalık Program</h3></a></li>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/membership.html"><h3> Üyelik</h3></a></li>
        </ul>
    </div>
    <div>
        <h1>HİZMETLERİMİZ</h1>
    <ul>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/spa-sauna.html"><h3> Spa & Sauna</h3></a></li>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/personal-training.html"><h3> Personal Training</h3></a></li>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/group-lessons.html"><h3> Grup Dersleri</h3></a></li>
        <li><i class="fa-solid fa-dumbbell"></i><a href="/pages/online-coaching.html"><h3> Online Coaching</h3></a></li>
    </ul>
    </div>
    <div>
        <h1>BİZE ULAŞIN</h1>
    <ul>
        <li><h3>Nova Gym</h3></li>
        <li><i class="fa-solid fa-location-dot"></i><h3> Aaa Mah. Bbb Cad. Ccc Sok. No: 0 Silivri/İstanbul</h3></li>
        <li><i class="fa-solid fa-phone"></i><a href="tel:+900000000000"><h3> +90 000 000 0000</h3></a></li>
        <li><i class="fa-solid fa-envelope"></i><a href="mailto:info@novagym.com"><h3> info@novagym.com</h3></a></li>
    </ul>
    </div>
</footer>