<section class="gallery-section">

    <div id="novaGallery" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#novaGallery" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#novaGallery" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#novaGallery" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#novaGallery" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#novaGallery" data-bs-slide-to="4"></button>
        </div>

        <div class="carousel-inner rounded-4">
            <div class="carousel-item">
                <img src="/images/side-view-man-bathrobe-resting-with-eyes-closed-spa-there-is-woman-background.jpg" class="d-block w-100" alt="">
            </div>

            <div class="carousel-item">
                <img src="/images/young-woman-mask-face-relaxing-spa-salon.jpg" class="d-block w-100" alt="">
            </div>

            <div class="carousel-item">
                <img src="/images/close-up-fresh-towels-yellow-lily-sauna.jpg" class="d-block w-100" alt="">
            </div>

            <div class="carousel-item">
                <img src="/images/sauna-with-stones-thermometer-warm-benches-light-nordic-wellness.jpg" class="d-block w-100" alt="">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#novaGallery" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#novaGallery" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>

</section>