    <button class="navToggle" id="navToggle">
    <i class="fa-solid fa-bars"></i>
</button>
    <header class="d-flex align-items-center justify-content-around">
    
    <ul class="navItems m-0 p-0 text-white">
        <li class="navImageDiv">
        <img src="/images/logo.png" alt="logo" class="object-fit-cover">
    </li>
        <li><a class="" href="/pages/homepage.html">ANASAYFA</a></li>
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hakkımızda
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/pages/about-us.html">HİKAYEMİZ</a></li>
                    <li><a class="dropdown-item" href="/pages/coachs.html">EĞİTMENLERİMİZ</a></li>
                    <li><a class="dropdown-item" href="/pages/weekly-schedule.html">HAFTALIK PROGRAM</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    HİZMETLERİMİZ
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/pages/spa-sauna.html">SPA & SAUNA</a></li>
                    <li><a class="dropdown-item" href="/pages/personal-training.html">PERSONAL TRAINING</a></li>
                    <li><a class="dropdown-item" href="/pages/group-lessons.html">GRUP DERSLERİ</a></li>
                    <li><a class="dropdown-item" href="/pages/online-coaching.html">ONLINE COACHING</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/pages/membership.html">ÜYELİK</a></li>
        <li><a href="/pages/contact.html">İLETİŞİM</a></li>
    </ul>
    </header>